[Unit]
Description=Minnowboard Tamper Daemon
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/bin/python3 /usr/sbin/tamperd start
ExecStop=/usr/bin/python3 /usr/sbin/tamperd stop
PIDFile=/var/run/tamperd.pid

[Install]
WantedBy=multi-user.target
